:root {
    --color-bg: hsl(232, 11%, 15%);
    --color-bg-light: hsl(233, 8%, 19%);
}

.wholediv {
    width: 100%;
    transition: all 0.5s;
    height: 95vh;
    /* transform: translate(0%, 20%); */
    /* margin-top: calc(100vh - 70%); */
}

.clashdiv {
    width: 100%;
    text-align: center;
    display: flex;

}

.playerdiv {

    height: 300px;
    min-width: 45%;
    overflow-y: auto;

    /* scrollbar-color: gray black;
  scrollbar-width: thin; */
    /* background-image: linear-gradient(to bottom, rgba(126, 125, 125, 0), #242424 90%); */


}

.optiondiv {
    background-color: #323232;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    /* transition: all 0.5s; */
    transition: transform 0.2s ease-in-out;
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;

}

.opponentdiv {

    height: calc(100% - 300px);
    min-width: 45%;

}

.opponentchilddiv {
    width: 250px;
    height: 250px;
    margin: 5px auto;
    background-color: #323232;
    color: white;
    text-align: justify;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    /* animation-name: zoom; */
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}


.clashicon {

    /* background-color: yellow; */
    min-width: 10vw;

}

.clashicon>img {
    /* padding: 30px 0px; */
    padding: 20px 0px;
}

.playerdiv::-webkit-scrollbar {
    width: 20px;
}

.playerdiv::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 50%;
}

.playerdiv::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border-radius: 20px;

    border: 5px solid transparent;
    background-clip: content-box;
    background-color: gray;
}

.centerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.active {
    transform: scale(1.1);
    /* background-color: lightgray; */
}

.optiondiv:hover {
    transform: scale(1.05);
    /* box-shadow: #ffffffaa 0px 22px 70px 4px; */
    /* box-shadow: 0px 0px 80px 15px rgb(120, 119, 119); */

}


.optiondiv:active {
    transform: scale(0.9);
}


div[disabled] {
    pointer-events: none;
    opacity: 1;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.sequencediv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 150px; */
}

.sequencediv>div {
    margin: 50px 30px 10px 10px;
    width: 60px;
    height: 60px;
    background-color: #323232;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    animation-name: zoom;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
}

.sequencediv>div:last-child{
    margin-right: 0px;
}

.sequencediv>div>img {
    height: 25px;
    width: 25px;
    padding: 0px;
}

.celebration {
    /* z-index: -9; */
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

@media only screen and (max-width: 800px) {

    /* .wholediv {
        padding-top: 120px;
    } */

    .optiondiv {
        width: 150px;
        height: 150px;
        margin: 10px auto;

    }

    .opponentchilddiv {
        width: 150px;
        height: 150px;
        margin: 10px auto;

    }

    .playerdiv {
        height: 180px;
        /* overflow: hidden; */
    }

    .optiondiv>img {
        height: 50px;
        width: 50px;
    }

    .opponentchilddiv>img {
        height: 50px;
        width: 50px;
    }

    .clashicon>img {
        height: 40px;
        width: 40px;
        padding: 0px;
    }

    .sequencediv>div {
        width: 50px;
        height: 50px;
    }

    .sequencediv>div>img {
        height: 20px;
        width: 20px;
    }

    .clashicon > p{
        margin: 5px 0px;
    }

    .playerdiv::-webkit-scrollbar-thumb {
        /* display: hidden; */
        background-color: transparent;
    }


}

@media only screen and (max-width: 500px) {
    /* .wholediv {

        padding-top: 150px;
    } */

    .optiondiv {
        width: 100px;
        height: 100px;
        margin: 12px auto;

    }

    .opponentchilddiv {
        width: 100px;
        height: 100px;
        margin: 10px auto;

    }

    .playerdiv {
        height: 130px;

    }

    .optiondiv>img {
        height: 25px;
        width: 25px;
        padding: 15px;

    }

    .opponentchilddiv>img {
        height: 25px;
        width: 25px;
        padding: 15px;
    }

    .clashicon>img {
        height: 30px;
        width: 30px;
    }

    .sequencediv>div {
        width: 30px;
        height: 30px;
    }


    .sequencediv>div>img {
        height: 15px;
        width: 15px;
    }

}